body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Varela Round', sans-serif!important;
    padding-top: 80px;
}

#brandName{

    font-weight: 700;
    font-size: 2.5em;
}

#navRight {
    font-size: 1.3em;
}

#navBar {
    font-family: 'Raleway', sans-serif;
    height: 70px;
    padding-top: 9px;
}



#map {
    height: 600px;
    width: 100%;
    padding-left: 1em;

}

#mapDiv {
    padding-right: 40px;
    padding-top: 5em;
}

#page-title {
    font-family: 'Varela Round', sans-serif!important;
    color: #484848;
    padding-top: 0.7em;
    font-size: 3em;
    padding-bottom: 0.5em;
}

#container #welcomeText {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
}

#welcomeText {
    margin-bottom: 1.2em;
}

#mainContent {
    padding-left: 40px;
    padding-right: 20px;
}